:root {
  --barra: rgb(255, 152, 64);

  --naranja: rgb(255, 152, 64);
  --vinotinto: rgb(166, 0, 0);
  --rojo: #ff0000;
  --azul: #112a3b;
  --header-width: 80px;
}

@font-face {
  font-family: "Babillon";
  src: url("../font/Babillon.ttf") format("truetype");
}

@font-face {
  font-family: "Good Brush";
  src: url("../font/Good Brush.woff") format("woff"),
    url("../font/Good Brush.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-weight: normal;

  font-family: "Roboto", sans-serif;

  background: url("../img/fondo.jpg");
  background-size: contain;
  background-position: 0 var(--header-width);
}

.container {
  padding-inline: 1rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

body {
  background: linear-gradient(
    rgba(140, 144, 169, 0.6),
    rgb(105, 108, 118),
    rgb(42, 45, 52)
  );
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  background: var(--azul);
  z-index: 100;
  height: var(--header-width);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: stretch;
  align-items: center;
}

.header-content {
  padding-block: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 100px;
  margin-right: 10px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .nav-logo {
    width: 135px;
  }
}

.nav-enlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav-enlace {
  background-color: transparent;
  padding: 5px;
  color: white;
  flex-grow: 1;
  position: relative;
  font-weight: lighter;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.nav-enlace.on {
  font-weight: bold;
}

.nav-enlace::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--naranja);
  opacity: 0.5;
  transition: width 0.3s;
}

.nav-enlace.on::after,
.nav-enlace:hover::after {
  width: 100%;
}

.nav-enlace.on::after,
.nav-enlace.on:hover::after {
  opacity: 1;
}

.nav-enlace:hover::after {
  opacity: 0.5;
}

@media (max-width: 900px) and (orientation: landscape) {
  :root {
    --header-width: 60px;
  }

  .nav-logo {
    width: 60px;
  }
}

.menu {
  position: fixed;
  top: var(--header-width);
  right: calc(-100%);
  height: calc(100% - var(--header-width));
  width: 100%;
  background-color: rgba(0, 0, 0, 85%);

  color: white;

  display: flex;
  transition: 0.1s right;

  font-size: 13px;

  text-align: justify;
}

@media (min-width: 600px) {
  .menu {
    font-size: 15px;
  }
}

.on.menu {
  right: 0%;
}

.submenu {
  overflow: auto;
  padding: 1.5em;
}

.menu h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

.menu h3 {
  text-align: left;
  margin-bottom: 1em;
}

.menu p {
  margin-bottom: 0.5em;
}

.menu ol,
.menu ul {
  padding-left: 0em;
}

.menu li {
  margin-bottom: 0.4em;
}

.menu .text-left {
  text-align: left;
}

.titulo {
  text-align: center;
  font-size: 1.4em;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

main .titulo {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: "Good Brush", "Roboto", sans-serif;
  font-weight: normal;
}

.sin-margen-inferior {
  margin-bottom: 0;
}

.titulo2 {
  margin: 0;
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: normal;
  font-family: "Babillon", "Roboto", sans-serif;
  font-size: 1.8em;
}

@media (min-width: 600px) {
  .titulo {
    font-size: 2.1em;
  }

  .titulo2 {
    font-size: 2.8em;
  }
}

.boton {
  background-color: #ff0000;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: lighter;
  transition: background 0.2s;
}

a.boton {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.boton:hover,
.boton.on {
  background: var(--naranja);
}

.boton.boton-verde {
  background-color: green;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icono-error {
  font-size: 3em;
  margin-left: 10px;
  width: 1.3em;
  height: 1.3em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmacion {
  background-color: var(--azul);
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--azul);
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card p {
  text-indent: 0 !important;
}

.text-center {
  text-align: center !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem;
}

.bg-danger {
  background-color: var(--rojo);
}

.bg-blue {
  background-color: var(--azul);
}

.hide {
  display: none !important;
}

.nombres {
  color: #ffd700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombres li {
  list-style: none;
  font-weight: bolder;
  letter-spacing: 2px;
}

.ayuda-fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 10px;
}

.ayuda-boton {
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.ayuda-boton .fa-info {
  pointer-events: none;
}

.ayuda-texto {
  background-color: white;
  font-size: 15px;
  width: 200px;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 50%);
  text-align: justify;
  display: none;
}

.ayuda-overlay {
  background-color: rgba(0, 0, 255, 25%);
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  position: absolute;
  filter: blur(0.3em);
  cursor: pointer;
}

.fallas {
  display: flex;
  justify-content: center;
}

.fallas-contenedor {
  display: flex;
  justify-content: center;
}

.fallas-subcontenedor {
  display: inline-block;
}

.falla-fila {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.falla-fila label {
  user-select: none;
}

.fallas input[type="checkbox"] {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.elementos-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  color: black;

  margin-bottom: 3rem;
}

.g-titulo {
  background-color: #005082;
  color: white;
}

.g-elemento,
.g-info {
  background-color: #faf2f2;
  border: 1px solid #a8a8a8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.g-elemento,
.g-info,
.g-titulo {
  padding: 8px;
}

.g-elemento h4 {
  margin-bottom: 5px;
  max-width: 80px;
  text-align: center;
}

@media (min-width: 600px) {
  .g-elemento h4 {
    max-width: 200px;
  }
}

.g-elemento .apariencia {
  margin-bottom: 5px;
  height: 70px;
  width: 70px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.g-elemento .placeholder {
  background-color: white;
  height: 70px;
  width: 40px;
  margin-bottom: 5px;
}

.g-boton {
  width: 100%;
}

.informacion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 95%);
}

#botonCerrarInformacion {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.informacion p {
  margin-bottom: 12px;
}

.informacion img {
  max-width: 80vw;
  max-height: 80vh;
  margin-bottom: 30px;
}

.informacion li {
  margin-left: 40px;
  margin-bottom: 15px;
}

.informacion table {
  margin-bottom: 30px;
}

.informacion table td {
  padding: 4px;
  color: black;
  background-color: #faf2f2;
}

.informacion table td:first-child {
  background-color: var(--azul);
  color: white;
}

#informacionContenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.planos {
  width: 100%;
}

.plano {
  position: relative;
  width: 100%;
}

.plano img {
  width: 100%;
}

.planoArea {
  position: absolute !important;
  background-color: transparent;
  min-width: 10px;
  min-height: 10px;
  display: block;
}

#pReleProtectorVoltaje {
  left: 53.68%;
  top: 10.87%;
  width: 3.79%;
  height: 5.69%;
}

#pContactoProtectorVoltaje {
  left: 6.72%;
  top: 20.43%;
  width: 3.4%;
  height: 6.2%;
}

#pParoEmergencia1 {
  left: 12.57%;
  top: 19.11%;
  width: 3.48%;
  height: 5.39%;
}

#pParoEmergencia2 {
  left: 17.63%;
  top: 19.11%;
  width: 3.56%;
  height: 5.59%;
}

#pParoEmergencia3 {
  left: 22.37%;
  top: 19%;
  width: 4.27%;
  height: 5.69%;
}

#pSelectorOperacion {
  left: 29.49%;
  top: 17.99%;
  width: 9.09%;
  height: 7.11%;
}

#pPulsadorApagado {
  left: 40.32%;
  top: 19.61%;
  width: 3.16%;
  height: 4.07%;
}

#pPulsadorEncendido {
  left: 46.88%;
  top: 18.6%;
  width: 3.32%;
  height: 4.47%;
}

#pContacto1Contactor {
  left: 45.69%;
  top: 24.59%;
  width: 5.14%;
  height: 3.15%;
}

#pContactor {
  left: 53.75%;
  top: 19.41%;
  width: 3.56%;
  height: 4.78%;
}

#pLuzEncendido {
  left: 53.75%;
  top: 26.63%;
  width: 3.56%;
  height: 4.78%;
}

#pContacto1Termico {
  left: 62.13%;
  top: 19.72%;
  width: 3.56%;
  height: 4.78%;
}

#pContacto2Contactor {
  left: 42.06%;
  top: 32.52%;
  width: 3.56%;
  height: 4.78%;
}

#pLuzApagado {
  left: 59.68%;
  top: 32.22%;
  width: 3.56%;
  height: 4.78%;
}

#pContactoPresostato {
  left: 40.16%;
  top: 38.82%;
  width: 3.24%;
  height: 4.57%;
}

#pContacto3Contactor {
  left: 45.93%;
  top: 38.72%;
  width: 3.24%;
  height: 4.57%;
}

#pReleSolenoide {
  left: 59.76%;
  top: 38.31%;
  width: 3.24%;
  height: 4.57%;
}

#pContactoReleSolenoide {
  left: 51.94%;
  top: 44.41%;
  width: 3.24%;
  height: 4.57%;
}

#pValvulaSolenoide {
  left: 59.76%;
  top: 44.11%;
  width: 3.24%;
  height: 4.57%;
}

#pLuzSolenoide {
  left: 59.76%;
  top: 49.49%;
  width: 3.24%;
  height: 4.57%;
}

#pLuzFallaAire {
  left: 60%;
  top: 55.18%;
  width: 3.24%;
  height: 4.57%;
}

#pContactoReleSistemaBloqueo {
  left: 40.79%;
  top: 61.99%;
  width: 3.16%;
  height: 4.67%;
}

#pLuzSistemaBloqueado {
  left: 59.68%;
  top: 61.69%;
  width: 3.16%;
  height: 4.67%;
}

#pReleSistemaBloqueo {
  left: 59.84%;
  top: 67.78%;
  width: 3.16%;
  height: 4.37%;
}

#pContacto2Termico {
  left: 46.09%;
  top: 73.78%;
  width: 3.16%;
  height: 4.37%;
}

#pLuzSobrecarga {
  left: 59.92%;
  top: 73.37%;
  width: 3.16%;
  height: 4.37%;
}

.practicas {
  width: 100%;
}

.input-fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.practicas label {
  display: inline-block;
  min-width: 80px;
  max-width: 200px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.practicas input {
  display: inline-block;
  width: 200px;
  max-width: 300px;
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
}

.boton-imprimir-padre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-imprimir {
  width: 100px;
  height: 60px;
}

.practica-contenido {
  padding: 4em 1.5em;
  background-color: black;
  font-size: 1.1em;

  font-weight: lighter;

  text-align: left;
}

.practica-centro {
  max-width: 1200px;
  margin: 0 auto;
}

.practica-contenido p {
  text-indent: 2em;
  text-align: justify;
}

.pestanas {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pestana {
  flex-grow: 1;
  margin: 1px;
}

.practica-contenido h3 {
  text-align: left;
  margin-bottom: 1em;
}

.practica-contenido h4 {
  margin-bottom: 0.5em;
}

.practica-contenido ul {
  margin-left: 3em;
}

.practica-contenido ul li {
  margin-bottom: 1.5em;
}

.practica-contenido ul li:last-child {
  margin-bottom: 2em;
}

.practica-contenido ol {
  margin-left: 2em;
  counter-reset: item;
}

.practica-contenido ol li {
  margin-bottom: 1.5em;
  display: block;
}

.practica-contenido ol li:before {
  content: counters(item, ".") ") ";
  counter-increment: item;
}

.practica-contenido p {
  margin-bottom: 1.5em;
}

.practica-contenido table {
  margin-bottom: 30px;
  border-collapse: collapse;
  font-weight: normal;
  text-align: center;
}

.practica-contenido table td,
.practica-contenido table th {
  padding: 4px;
  color: black;
  background-color: #faf2f2;
  border: 1px solid #a8a8a8;
  padding: 0.4em 1em;
}

.practica-contenido table th {
  background-color: var(--azul);
  color: white;
}

.practica-contenido table td:first-child {
  font-weight: bold;
}

.practica-contenido img {
  /* width: 100%; */
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  margin-bottom: 2em;
}

.practica-contenido textarea,
.practicas input {
  display: inline-block;
  width: 100%;
  resize: vertical;
  font-size: 1em;
  padding: 0.5em;
  margin-top: 0.5em;
}

#cedula::-webkit-outer-spin-button,
#cedula::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#cedula[type="number"] {
  -moz-appearance: textfield;
}

.pregunta-img-contendor {
  margin: 2em 0;
}

.pregunta-img-contendor .boton {
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
}

.proceso-imagen-padre {
  background-color: white;
  position: relative;
}

.proceso-imagen-padre img {
  max-width: 100%;
  max-height: 80vh;
  margin-bottom: 0;

  cursor: none;
}

.proceso-imagen {
  width: 100%;
  display: block;
  background: white;
  cursor: none;
}

.proceso-circulo {
  position: absolute;

  width: 10px;
  height: 10px;
  font-size: 20px;
  text-shadow: 0px 0px 0.2em black;

  transform: translate(-5px, -5px);

  left: 0;
  top: 0;

  background-color: transparent;
  color: red;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  touch-action: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.proceso-circulo .fa-times {
  pointer-events: none;
}

.proceso-imagen-padre.eliminando .proceso-circulo {
  color: blue;
}

.proceso-imagen-zoom {
  position: absolute;
  width: 40vw;
  height: 20vw;
  background: white;
  transform: translate(-20vw, -10vw);
  pointer-events: none;
  display: none;
  border: 1px solid rgb(99, 99, 99);
  z-index: 2000;
}

.bienvenida {
  position: fixed;
  width: 100%;
  left: 0;
  top: -100%;
  background-color: #00a8cc;
  color: white;
  z-index: 101;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 20px 30px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-size: 1.15em;

  transition: 0.5s;
}

.bienvenida h2 {
  margin-bottom: 0.3em;
}

.bienvenida p {
  color: white;
  max-width: 800px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0.3em;
}

.bienvenida-on.bienvenida {
  top: 0;
}

.esconder-boton {
  font-size: 3em;
  color: #ffa41b;
  background-color: transparent;
  transition: 0.3s;
  width: 50px;
  height: 50px;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(1.9);
}

.esconder-boton:hover {
  color: var(--naranja);
  transform: scaleX(2) scaleY(1.1);
}

.esconder-boton .icono {
  transition: 0.4s;
  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.2));
}

.esconder-boton:hover .icono {
  transform: translateY(-5px);
}

.bienvenida h2 {
  font-weight: 400;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  display: block;
  position: absolute;

  top: -2px;
  left: 0;

  padding: 5px;
  text-align: center;
  font-size: 12px;
  text-transform: none;
  font-weight: normal;

  color: white;
  background-color: #555;
  border-radius: 6px;
  box-shadow: rgba(1, 1, 1, 0.5) 4px 4px 8px;

  opacity: 0;

  transition: opacity 0.3s;
  pointer-events: none;

  z-index: 1000;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
}
