:root {
	--barra: rgb(255, 152, 64);

	--naranja: rgb(255, 152, 64);;
	--vinotinto: rgb(166, 0, 0);
	--rojo: #ff0000;;
	--azul: #005082;
}

@font-face {
	font-family: "Babillon";
	src: url("../font/Babillon.ttf")  format('truetype');
}

@font-face {
	font-family: "Good Brush";
	src: url("../font/Good Brush.woff") format('woff'),
		 url("../font/Good Brush.ttf")  format('truetype')
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 15px;
	font-weight: normal;

	font-family: 'Roboto', sans-serif;

	background: url("../img/fondo.jpg");
	background-size: contain;
	background-position: 0 80px;
}

body {
	background: linear-gradient(rgba(140, 144, 169, 0.6), rgb(105, 108, 118), rgb(42, 45, 52));
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}


main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--azul);
	padding: 10px;
	z-index: 100;
	width: 100%;
	height: 80px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-logo {
	width: 60px;
	margin-right: 10px;
}

.nav-enlaces {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	flex-grow: 1;
}

.header.on .nav-enlaces {
	display: flex;
	flex-wrap: wrap;
}

.nav-enlace {
	background-color: transparent;
	padding: 5px;
	color: white;
	flex-grow: 1;
	position: relative;
	font-weight: lighter;
	font-size: 0.8em;
	letter-spacing: 1px;
}

.nav-enlace.on {
	font-weight: bold;
}

.nav-enlace::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--naranja);
	opacity: 0.5;
	transition: width 0.3s;
}

.nav-enlace.on::after,
.nav-enlace:hover::after {
	width: 100%;
}

.nav-enlace.on::after,
.nav-enlace.on:hover::after {
	opacity: 1;
}

.nav-enlace:hover::after {
	opacity: 0.5;
}


.espacio-vacio {
	height: 80px;
}


@media (min-width: 600px) {
	.nav-logo {
		width: 100px;
	}
}



.menu {
	position: fixed;
	top: 80px;
	right: calc(-100%);
	height: calc(100% - 80px);
	width: 100%;
	background-color: rgba(0, 0, 0, 85%);

	color: white;

	display: flex;
	transition: 0.1s right;

	font-size: 13px;

	overflow: auto;
	padding: 1.5em;
	text-align: justify;
}

@media (min-width: 600px){
	.menu {
		font-size: 15px;
	}
}

.header.on .menu {
	right: 0%;
}

.menu h2 {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 0.5em;
}

.menu h3 {
	text-align: left;
	margin-bottom: 0.5em;
}

.menu p {
	margin-bottom: 0.5em;
}

.menu ol,
.menu ul {
	padding-left: 0em;
}

.menu li {
	margin-bottom: 0.4em;
}

.menu .text-left {
	text-align: left;
}




.titulo {
	text-align: center;
	font-size: 1.4em;
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;
}

main .titulo {
	color: white;
	text-shadow: 1px 1px 2px black;
	font-family: "Good Brush", "Roboto", sans-serif;
	font-weight: normal;
}

.sin-margen-inferior {
	margin-bottom: 0;
}

.titulo2 {
	margin: 0;
	margin-bottom: 20px;
	color: white;
	text-shadow: 1px 1px 2px black;
	font-weight: normal;
	font-family: "Babillon", "Roboto", sans-serif;
	font-size: 1.8em;
}


@media (min-width: 600px) {
	.titulo {
		font-size: 2.1em;
	}

	.titulo2 {
		font-size: 2.8em;
	}
}

.boton {
	background-color: #ff0000;
	color: white;
	border-radius: 4px;
	padding: 5px 10px;
	font-weight: lighter;
	transition: background 0.2s;
}

a.boton {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.boton:hover,
.boton.on {
	background: var(--naranja);
}






.error {
	background-color: var(--rojo);
	padding: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error .icono {
	font-size: 3em;
	margin-left: 10px;
	width: 1.3em;
	height: 1.3em;

	display: flex;
	justify-content: center;
	align-items: center;
}



.hide {
	display: none !important;
}


.nombres {
	color: #ffd700;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nombres li {
	list-style: none;
	font-weight: bolder;
	letter-spacing: 2px;
}



.ayuda-fixed {
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 10px;
}

.ayuda-boton {
	width: 30px;
	height: 30px;
	font-size: 15px;
}

.ayuda-boton .fa-info {
	pointer-events: none;
}

.ayuda-texto {
	background-color: white;
	font-size: 15px;
	width: 200px;
	padding: 10px;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 50%);
	text-align: justify;
	display: none;
}

.ayuda-overlay {
	background-color: rgba(0, 0, 255, 25%);
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	position: absolute;
	filter: blur(0.3em);
	cursor: pointer;
}





.fallas {
	display: flex;
	justify-content: center;
}

.fallas-contenedor {
	display: flex;
	justify-content: center;
}

.fallas-subcontenedor {
	display: inline-block;
}

.falla-fila {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
}

.fallas input[type="checkbox"] {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}




.elementos-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	color: black;

	margin-bottom: 30px;
}

.g-titulo {
	background-color: #005082;
	color: white;
}

.g-elemento, .g-info {
	background-color: #faf2f2;
	border: 1px solid #A8A8A8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.g-elemento, .g-info, .g-titulo {
	padding: 8px;
}

.g-elemento h4 {
	margin-bottom: 5px;
	max-width: 80px;
	text-align: center;
}

@media (min-width:600px) {
	.g-elemento h4 {
		max-width: 200px;
	}
}

.g-elemento .apariencia {
	margin-bottom: 5px;
	height: 70px;
	width: 70px;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
}

.g-elemento .placeholder {
	background-color: white;
	height: 70px;
	width: 40px;
	margin-bottom: 5px;
}

.g-boton {
	width: 100%;
}




.planos {

}

.plano {
	width: 100%;
}





.practicas {
	width: 100%;
}

.input-fila {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.practicas label {
	display: inline-block;
	min-width: 80px;
	max-width: 200px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.practicas input {
	display: inline-block;
	width: 200px;
	max-width: 300px;
	margin-bottom: 20px;
	border: none;
	border-radius: 2px;
}

.boton-imprimir-padre {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-imprimir {
	
	width: 100px;
	height: 60px;
}







.practica-contenido {
	padding: 1.5em;
	background-color: black;
	font-size: 1.1em;
}

.pestanas {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.pestana {
	flex-grow: 1;
	margin: 1px;
}

.practica-contenido h3 {
	text-align: left;
}

.practica-contenido ul li {
	margin-left: 2em;
	margin-bottom: 0.2em;
}

.practica-contenido li {
	margin-left: 2em;
}

.practica-contenido textarea, .practicas input {
	display: inline-block;
	width: 100%;
	resize: vertical;
	font-size: 1em;
	padding: 0.5em;
}







.bienvenida {
	position: fixed;
	height: 65%;
	width: 100%;
	left: 0;
	top: -65%;
	background-color: #00a8cc;
	color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 20px 20px 30px 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	font-size: 1.15em;

	transition: 0.5s;
}

.bienvenida p {
	color: white;
	max-width: 800px;
	font-weight: lighter;
	text-align: center;
}

.header.bienvenida-on .bienvenida {
	top: 80px;
}

.esconder-boton {
	font-size: 3em;
	color: #ffa41b;
	background-color: transparent;
	transition: 0.3s;
	width: 50px;
	height: 50px;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
	transform: scaleX(1.9);
}

.esconder-boton:hover {
	color: var(--naranja);
	transform: scaleX(2) scaleY(1.1);
}

.esconder-boton .icono {
	transition: 0.4s;
	filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.2));
}

.esconder-boton:hover .icono {
	transform: translateY(-5px);
}

.bienvenida h2 {
	font-weight: 400;
}