* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 12pt;
	font-family: Arial;
	text-align: justify;
}

body {
    width: 21cm;
    height: 29.7cm;
    padding: 1.5cm 1.5cm;
}

.logo {
	width: 3cm;
	margin-bottom: 0.3cm;
}

h1 {
	text-align: center;
	margin-top: 20pt;
	margin-bottom: 10pt;
	font-size: 1.5em;
}

h2 {
	margin-bottom: 10pt;
}

p {
	margin-bottom: 10pt;
}

li {
	margin-left: 1cm;
	margin-bottom: 3pt;
}

ol ol li {
	page-break-inside: avoid;
}

.respuesta {
	text-decoration: underline;
}

.header-fila {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4pt;
}




.proceso-imagen {
	position: relative;
	width: 18cm;
	margin: 0.5cm 0;
}

.proceso-imagen img {
	width: 100%;
}

.proceso-circulo {
	position: absolute;

	width: 0.8em;
	height: 0.8em;
	font-size: 1.5em;

	transform: translate(-0.4em, -0.4em);

	left: 0;
	top: 0;

	background-color: transparent;
	color: red;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	touch-action: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent; 
}