.proceso-contenedor {
	height: 200px;
	background-color: gray;
	position: relative;
	display: none;
}

.proceso-fondo {
	background-image: url("../img/proceso.png");
	background-size: 100% 100%;
	background-position: center;
	width: 60rem;
	height: 30rem;
}

.panel-informacion {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	color: white;
	padding: 0.5em;
}

#Transmisor {
	position: absolute;
	top: 5em;
	left: 1em;
	width: 5em;
}

#ValvulaControl {
	position: absolute;
	top: 5em;
	left: 10em;
	width: 5em;

}

#Bomba {
	position: absolute;
	top: 5em;
	left: 20em;
	width: 5em;
}