.proceso-contenedor {
	height: 200px;
	background-color: gray;
	position: relative;
	display: none;
}

.proceso-fondo {
	position: relative;
	background-image: url("../img/proceso.png");
	background-size: 100% 100%;
	background-position: center;
	width: 60em;
	height: 30em;
}

.panel-informacion {
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	color: white;
	padding: 0.5em;
}

#Transmisor {
	position: absolute;
	top: 5em;
	left: 1em;
	width: 5em;
}

#ValvulaControl {
	position: absolute;
	top: 5em;
	left: 10em;
	width: 5em;

}

#bomba {
	position: absolute;
	top: 70%;
	left: 80%;
	width: 10em;
	height: 10em;

	background-image: url("../img/pumps_centrifugal_pump_2.svg");
	background-size: 100% 100%;
}