:root {
	--menu-boton-ancho: 50px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 15px;
	font-family: Arial;
}


button {
	font-size: inherit;
}

/* Fondo de paneles  */

.panel {
	position: relative;
	background-color: #c2c2c2;
	width: 30em;
	border-radius: 0.3em;
	/*border: 0.2em solid #dbdbdb;*/
	box-shadow: 0em 0em 0.5em black;
	display: inline-block;

	flex-shrink: 0;
}

.flex {
	display: flex;
}

.superior {
	padding: 1em 2em;
	padding-bottom: 3em;
	margin-bottom: 0.5em;
	margin-right: 1em;

	height: 30em;
	width: 30em;

	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3em auto 3em 3em 3em auto 5em auto;
	justify-items: center;
	align-items: center;
}

.superior-in {
	height: 30em;
	width: 30em;
}

.inferior {
	height: 13em;
	width: 30em;
	padding: 2em 3em;
	margin-right: 1em;
}

.inferior-in {
	height: 13em;
	width: 30em;
}

/* Grid */

.item {
	background-color: red;
}

.grid-i-señal-parada {
	grid-column-start: 1;
	grid-column-end: 4;
}

.grid-i-boton-parada {
	grid-column-start: 1;
	grid-column-end: 4;
	width: auto;
	height: auto;
}

.grid-i-selector {
	grid-column-start: 1;
	grid-column-end: 4;
}

/* Selector giratorio */

.selector {
	width: 2em;
	height: 2em;
	background-color: #757575;
	border-radius: 50%;
	position: relative;
	box-shadow: 0.1em 0.1em 0.2em black;

	transition: transform 0.05s;
}

.selector[state="0"] {
	transform: rotate(-60deg);
}

.selector[state="2"] {
	transform: rotate(60deg);
}

.selector .perrilla {
	position: absolute;
	width: 0.5em;
	height: 120%;
	background-color: #474747;
	bottom: 0;
	left: 0.75em;
	box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 90%);
}

/* Pequeñas señales con letras marrones*/

.señal {
	width: 7rem;
	height: auto;
	padding: 0.2rem 0.5rem;
	background-color: black;
	color: rgb(198, 176, 99);
	text-align: center;
	border-radius: 0.2rem;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.señal.lp {
	font-size: 0.5em;
}

.señal.lm {
	font-size: 0.7em;
}

.señal.boton {
	cursor: pointer;
}

.señal.boton:hover {
	filter: brightness(50%);
}

/* Botones pulsadores*/

.pulsador {
	border: none;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 0.75em;
	font-weight: bold;
	box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 50%);

	transition: all 0.05s;
}

.pulsador:focus {
	outline: none;
}

.pulsador.on {
	transform: translate(0.4em, 0.4em);
	box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 50%);
}

.pulsador.off:hover {
	filter: brightness(95%);
}

.pulsador.off:active {
	transform: translate(0.5em, 0.5em);
	box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 50%);
}

.pulsador.rojo {
	background-color: red;
}



.pulsador-l {
	border: 0.2em #b8b8b8 solid;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 0.75em;
	font-weight: bold;
	box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 50%);
}

.pulsador-l:focus {
	outline: none;
}

.pulsador-l.off {
	filter: brightness(50%);
}

.pulsador-l.off:hover {
	filter: brightness(60%);
}

.pulsador-l.off:active {
	filter: brightness(70%);
}

.pulsador-l.on {
	filter: brightness(100%);
}

.pulsador-l.on:hover {
	filter: brightness(110%);
}

.pulsador-l.on:active {
	filter: brightness(120%);
}

.pulsador-l.rojo {
	background-color: red;
}

.pulsador-l.verde {
	background-color: green;
}

/* Luces indicadora */

.luz {
	width: 3em;
	height: 3em;
	background-color: white;
	border-radius: 50%;
	filter: brightness(20%);
	border: 0.1em solid black;
	box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 30%);
}

.luz.on {
	filter: brightness(100%);
}

.luz.verde {
	background-color: green;
}

.luz.roja {
	background-color: red;
}

.luz.amarillo {
	background-color: yellow;
}

/* Logos del panel superior*/

.logo-universidad {
	position: absolute;
	width: 8em;
	top: 0.3em;
	left: 0.3em;
}

.señal-riesgo {
	position: absolute;
	top: 0;
	right: 0;
	width: 7em;
}


/* Logo del panel inferior */
.señal-proyecto {
	position: absolute;
	top: 0.5em;
	right: 1em;
	width: 10rem;
	background-color: #999999;
	font-size: 0.8em;
	padding: 0.4em;
	font-weight: bold;
	border: 0.2em solid black;
}

.señal-c {
	margin-bottom: 1em;
}

/* Controlador */

.controlador {
	width: 9em;
	height: 7em;
	background-color: #51addc;
	border: 0.3em solid black;
	position: relative;
}


#log {
	padding: 1rem 0 0 2rem;
	font-size: 1rem;
	white-space: pre;
	font-family: monospace;
	display: inline-block;
	display: none;
}


.ayuda-fixed {
	position: fixed;
	bottom: 0px;
	left: 0px;
	margin: 10px;
}

.ayuda-boton {
	width: 30px;
	height: 30px;
	font-size: 15px;
}

.ayuda-texto {
	background-color: white;
	font-size: 15px;
	width: 200px;
	padding: 10px;
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 50%);
	text-align: justify;
	display: none;
}

.ayuda-overlay {
	background-color: rgba(0, 0, 255, 25%);
	width: 120%;
	height: 120%;
	top: -10%;
	left: -10%;
	position: absolute;
	filter: blur(0.3em);
	cursor: pointer;
}



.menu {
	position: fixed;
	top: 0px;
	right: calc(-100% + var(--menu-boton-ancho));
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 85%);

	color: white;

	display: flex;
	transition: 0.1s right;

	font-size: 15px;
}


.menu.on {
	right: 0%;
}

.menu.on .off {
	display: none;
}

.menu.off .on {
	display: none;
}


/*.menu.off:hover {
	right: calc(-100% + 60px);
}

.menu.off:hover .menu-boton {
	width: 60px;
}*/

.menu-boton {
	background-color: black;
	width: var(--menu-boton-ancho);
	flex-shrink: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--menu-boton-ancho) - 5px);
	color: gray;

	cursor: pointer;
	z-index: 100;

	transition: 0.1s width;
}

.menu-boton:hover {
	background-color: 
}

.menu-contenido {
	flex-grow: 1;
	flex-shrink: 1;
}

.menu h2 {
	text-align: center;
	margin-bottom: 10px;
}

.menu h3 {
	text-align: center;
	margin-bottom: 10px;
}

.menu p {
	margin-bottom: 10px;
}

.menu ol {
	padding-left: 20px;
}

.menu li {
	margin-bottom: 20px;
}

.menu .text-left {
	text-align: left;
}


.pestañas {
	flex-basis: 100%;

	display: flex;
	flex-direction: row-reverse;
	height: 30px;
	font-size: 1.1em;
	font-weight: bold;
}

.pestaña-contenido {
	height: calc(100% - 30px);
	overflow: auto;
	padding: 1.5em;
	text-align: justify;
}

.pestaña {
	flex-grow: 1;
	border: 1px solid black;
	border: 1px solid black;
}

.pestaña:focus {
	outline: none;
}

.pestaña.on {
	filter: brightness(120%);
}




.fallas {

}

.fallas input[type="checkbox"] {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.fallas > div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}



.guias {

}





.elementos-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	color: black;

	margin-bottom: 30px;
}

.g-titulo {
	background-color: white;
}

.g-elemento, .g-info {
	background-color: #dddddd;
}

.g-elemento, .g-info, .g-titulo {
	padding: 8px;
	border: 1px solid #A8A8A8;
}

.g-elemento {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.g-elemento h4 {
	margin-bottom: 5px;
	max-width: 200px;
	text-align: center;
}

@media (min-width: 0px) and (max-width: 600px) {
	.g-elemento h4 {
		max-width: 80px;
	}
}

.g-elemento .apariencia {
	margin-bottom: 5px;
	height: 70px;
}

.g-elemento .placeholder {
	background-color: white;
	height: 70px;
	width: 40px;
	margin-bottom: 5px;
}

.g-boton {
	padding: 5px;
	width: 100%;
}



.planos {

}

.plano-control {
	width: 100%;
}


@media (min-width: 0px) and (max-width: 600px) {
	:root {
		--menu-boton-ancho: 25px;
	}

	.menu {
		font-size: 12px;
	}
}


@media (min-width: 0px) and (max-width: 350px){
	html {
		font-size: 4px;
	}
}

@media (min-width: 351px) and (max-width: 400px){
	html {
		font-size: 6px;
	}
}

@media (min-width: 401px) and (max-width: 500px) {
	html {
		font-size: 6px;
	}
}

@media (min-width: 501px) and (max-width: 700px) {
	html {
		font-size: 7px;
	}
}

@media (min-width: 701px) and (max-width: 900px) {
	html {
		font-size: 8px;
	}
}

html {
	font-size: 1.5vw;
}







.hightlight-overlay {
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	background-color: rgba(255, 255, 0,85%);
	filter: blur(5px);
	animation: desvanecer 4s infinite;
}

@keyframes desvanecer {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}