/* Fondo de paneles  */

.panel {
	position: relative;
	background-color: #c2c2c2;
	width: 30em;
	border-radius: 0.3em;
	/*border: 0.2em solid #dbdbdb;*/
	box-shadow: 0em 0em 0.5em black;
	display: inline-block;

	flex-shrink: 0;
}

.flex {
	display: flex;

}

.superior {
	padding: 1em 2em;
	padding-bottom: 3em;
	margin-bottom: 0.5em;
	margin-right: 1em;

	height: 30em;
	width: 30em;

	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3em auto 3em 3em 3em auto 5em auto;
	justify-items: center;
	align-items: center;
	background-image: url("../img/tablero_exterior_superior.svg");
	background-size: contain;
}

.superior-in {
	height: 30em;
	width: 30em;

	background-image: url("../img/tablero_interior_superior.svg");
	background-size: contain;
}

.inferior {
	height: 13em;
	width: 30em;
	padding: 2em 3em;
	margin-right: 1em;

	background-image: url("../img/tablero_exterior_inferior.svg");
	background-size: contain;
}

.inferior-in {
	height: 13em;
	width: 30em;

	background-image: url("../img/tablero_interior_inferior.svg");
	background-size: contain;
}

/* Grid */

.item {
	background-color: red;
}

.grid-i-señal-parada {
	grid-column-start: 1;
	grid-column-end: 4;
}

.grid-i-boton-parada {
	grid-column-start: 1;
	grid-column-end: 4;
	width: auto;
	height: auto;
}

.grid-i-selector {
	grid-column-start: 1;
	grid-column-end: 4;
}

/* Selector giratorio */

.selector {
	width: 2em;
	height: 2em;
	background-color: #757575;
	border-radius: 50%;
	position: relative;
	box-shadow: 0.1em 0.1em 0.2em black;

	transition: transform 0.05s;
}

.selector[state="0"] {
	transform: rotate(-60deg);
}

.selector[state="2"] {
	transform: rotate(60deg);
}

.selector .perrilla {
	position: absolute;
	width: 0.5em;
	height: 120%;
	background-color: #474747;
	bottom: 0;
	left: 0.75em;
	box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 90%);
}

/* Pequeñas señales con letras marrones*/

.señal {
	width: 10em;
	height: auto;
	padding: 0.2em 0.5em;
	background-color: black;
	color: rgb(198, 176, 99);
	text-align: center;
	border-radius: 0.2em;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: bold;
}

.señal.lp {
	font-size: 0.5em;
}

.señal.lm {
	font-size: 0.7em;
}

.señal.boton {
	cursor: pointer;
}

/* Botones pulsadores*/

.pulsador {
	border: none;
	width: 4em;
	height: 4em;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 0.75em;
	font-weight: bold;
	box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 50%);

	transition: all 0.05s;
}

.pulsador:focus {
	outline: none;
}

.pulsador.on {
	transform: translate(0.4em, 0.4em);
	box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 50%);
}

.pulsador.off:hover {
	filter: brightness(95%);
}

.pulsador.off:active {
	transform: translate(0.5em, 0.5em);
	box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 50%);
}

.pulsador.rojo {
	background-color: red;
}



.pulsador-luminoso  {
	width: 3em;
	height: 3em;
	background-color: transparent;
}

.pulsador-luminoso .boton {
	display: block;
	height: 100%;
	border: 0.2em #b8b8b8 solid;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 0.75em;
	font-weight: bold;
	box-shadow: 0.3em 0.3em 0.2em rgba(0, 0, 0, 50%);
	pointer-events: none;
}

.pulsador-l:focus {
	outline: none;
}

.pulsador-luminoso.off .boton {
	filter: brightness(50%);
}

.pulsador-luminoso.off .boton:hover {
	filter: brightness(60%);
}

.pulsador-luminoso.off .boton:active {
	filter: brightness(70%);
}

.pulsador-luminoso.on .boton {
	filter: brightness(100%);
}

.pulsador-luminoso.on .boton:hover {
	filter: brightness(110%);
}

.pulsador-luminoso.on .boton:active {
	filter: brightness(120%);
}

.pulsador-luminoso .boton.rojo {
	background-color: red;
}

.pulsador-luminoso .boton.verde {
	background-color: green;
}

/* Luces indicadora */

.luz {
	width: 3em;
	height: 3em;
}

.luz .hijo {
	display: block;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 50%;
	filter: brightness(20%);
	border: 0.1em solid black;
	box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 30%);
	pointer-events: none;
}

.luz.on .hijo {
	filter: brightness(100%);
}

.luz .hijo.verde {
	background-color: green;
}

.luz .hijo.rojo {
	background-color: red;
}

.luz .hijo.amarillo {
	background-color: yellow;
}

/* Logos del panel superior*/

.logo-universidad {
	position: absolute;
	width: 8em;
	top: 0.3em;
	left: 0.3em;
	background-color: white;
}

.señal-riesgo {
	position: absolute;
	top: 0;
	right: 0;
	width: 7em;
}


/* Logo del panel inferior */
.señal-proyecto {
	position: absolute;
	top: 0.5em;
	right: 1em;
	width: 10em;
	background-color: #999999;
	font-size: 0.8em;
	padding: 0.4em;
	font-weight: bold;
	border: 0.2em solid black;
}

.señal-c {
	margin-bottom: 1em;
}

/* Controlador */

.controlador {
	width: 9em;
	height: 7em;
	background-color: #51addc;
	border: 0.3em solid black;
	position: relative;
}



/* Otro */

.simulacion {
	font-size: 1.5vw;
}


.hightlight-overlay {
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	background-color: rgba(255, 255, 0,85%);
	filter: blur(5px);
	animation: desvanecer 4s infinite;
}

@keyframes desvanecer {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}